langchain
python-dotenv
langchain
python-dotenv
langchain-core 
langchain-community
ipykernel
bs4
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
transformers 
sentence_transformers 
langchain-huggingface 
faiss-cpu
openai
numpy
pandas
duckdb 
langchain-groq 
duckduckgo-search 
Pylance
